#!/bin/bash

# Generated shell start script for application {{APP_NAME}}
# ----------------------------------------------------------------------------

# Set the JAVA_HOME if not defined
[[ -z "$JAVA_HOME" ]] && export JAVA_HOME=/usr/java/jdk

# JVM memory settings --------------------------------------------------------
JVM_MIN_HEAP=
JVM_MAX_HEAP=-Xmx1g

# JVM Options ----------------------------------------------------------------
JVM_OPTIONS=(
)

# JVM Properties -------------------------------------------------------------
JVM_PROPERTIES=(
    -Dapp.name="{{APP_NAME}}"
    -Dapp.version="{{PROJECT_VERSION}}"
)

# Arguments ------------------------------------------------------------------
ARGS=(
)

# Navigate to the working directory ------------------------------------------
cd {{DEPLOYMENT_DIR}}

# Export environmental variables ---------------------------------------------

# Start the application ------------------------------------------------------
exec -a $(basename $0) /usr/java/jdk1.8/bin/java \
    -classpath 'lib/*:' \
    ${JVM_MIN_HEAP} ${JVM_MAX_HEAP} \
    ${JVM_OPTIONS[@]} \
    ${JVM_PROPERTIES[@]} \
    {{MAIN_CLASS}} \
    ${ARGS[@]} \
    $@
